/* src/components/common/SearchBar/SearchBar.scss */
.search-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 392px;
}

.search-bar-input {
  width: 100%;
  padding: 8px;
  padding-left: 35px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  border-radius: 8px;
  height: 48px;
}

.search-bar-icon {
  position: absolute;
  top: 50%;
  left: 10px; 
  transform: translateY(-50%); 
}
