
//input classes
.phone-input.form-control.is-invalid:focus {
    border-color: transparent;
}

.phone-is-invalid {
    border:1px solid red !important; /* Red border for invalid input */
    border-radius: 0.5rem;
}
