.splsdetailsModal-wrapper {
  .splsModal-heading {
    background-color: $dark-blue;
    color: $white;
    font-weight: bold;
    padding: 6px;
    margin-bottom: 12px !important;
  }

  .details-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .full-width {
    display: block;
    span {
      width: 100%;
    }
  }

  .details-label {
    font-weight: bold;
    width: 50%;
  }

  .details-value {
    text-align: left;
    width: 50%;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
}
