.filter-btn {
  font-size: 17px;
  margin: 6px;
  line-height: 16.94px;
}

.close-Img {
  width: 11px;
  height: 13px;
  margin-right: 8px;
  margin-top: -15px;
  cursor: pointer;
}
#filterList {
  width: 224px;
}

.filterByStatustext,
.sortBytext {
  margin-top: 10px;
  font-weight: 600;
}
