.custom-pagination-wrapper {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;


  .pagination {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .btn-custom-pagination {
    margin: 0 5px;

    &.active {
      background-color: $dark-blue;
      color: $white;
    }
  }
  
}




