:root {
    --react-international-phone-height: 48px;
    --react-international-phone-text-color: #212529;
    --react-international-phone-font-size:1.25rem;
    --react-international-phone-border-radius: 0.5rem;
    --react-international-phone-border-color: #d9d9d9;
}

body {
    color: $dark-blue;
}