$font-family-sans-serif: "Inter", sans-serif;

$dark-gray-1: #3c3939;
$dark-gray-2: #6e7191;
$sky-blue: #61a1fe;
$light-gray: #d9d9d9;
$dark-blue: #2a4459;
$white: #FFF;
$accent-color: #6D5BD0;

// Define primary, secondary, and accent color variables using the custom colors
$primary: $dark-gray-1;
$secondary: $dark-gray-2;



$btn-padding-y: 10px;
$btn-padding-x: 10px;


$form-label-font-weight: 500;

$input-placeholder-color: $dark-gray-2;
$input-border-color: $light-gray;
$input-box-shadow: 0px 1px 2px 0px #1018280D;

$dropdown-link-hover-bg: #EEF5FF;





